<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative padding">
     
      <div class="page__content-data position-absolute text-center width page-data"  >
        <h1>Welcom to user Home</h1> 
        <!-- <img src="https://carsguide-res.cloudinary.com/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/How-many-cars-in-the-world-advice-1001x565p.jpg" alt=""> -->
      </div>
    </div>
  </div>

