
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Car Registration</h2>
  
                <form [formGroup]="editcar" (submit)="updatecar()">
  
                  <div class="form-outline mb-4">
                    <input type="text" id="carname"  formControlName="carname" class="form-control form-control-lg" />
                    <label class="form-label" for="carname">Car Name</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="carmodel" formControlName="carmodel" class="form-control form-control-lg" />
                    <label class="form-label" for="carmodel">Car Model</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="registerNo" formControlName="registerNo" class="form-control form-control-lg" />
                    <label class="form-label" for="registerNo">Register Number</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="fueltype" formControlName="fueltype" class="form-control form-control-lg" />
                    <label class="form-label" for="fueltype">Fuel Type</label>
                  </div>
  
                  <div class="form-outline mb-4">
                      <input type="text" id="colour" formControlName="colour" class="form-control form-control-lg" />
                      <label class="form-label" for="colour">Colour</label>
                    </div>
  
                  <div class="form-outline mb-4">
                      <input type="text" id="rate" formControlName="rate" class="form-control form-control-lg" />
                      <label class="form-label" for="rate">Rate</label>
                    </div>
                  
                  <div class="form-outline mb-4">
                      <input type="text" id="kilometer" formControlName="kilometer" class="form-control form-control-lg" />
                      <label class="form-label" for="kilometer">Kilometer</label>
                    </div>
  
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">List of Registered Cars .........  <a href=""
                      class="fw-bold text-body"><u>  Car Here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
   

