<!-- <mat-nav-list>
    <div class="logo py-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4ZzsD6FLPIZiIQWGr19GONnRLv50Ko4sNqg&usqp=CAU" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
        <mat-icon>login</mat-icon> Login page
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
        <mat-icon>Register</mat-icon> User
      </a>
  
  </mat-nav-list> -->